/react-client/node_modules
/react-client/.pnp
/react-client/.pnp.js
/react-client/coverage
/react-client/build
/react-client/.DS_Store
/react-client/.env.local
/react-client/.env.development.local
/react-client/.env.test.local
/react-client/.env.production.local
/react-client/npm-debug.log*

/express-server/node_modules