.Dashboard {
  background-color: #f9f9ff;
  width: 100vw;
  height: 100vh;

  .header {
    height: 60px;
    background-color: #ffa557;

    .header-wrapper {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      .header-left {
        padding-top: 16px;

        span {
          font-size: 22px;
          color: #896e69;
        }
      }

      .header-right {
        padding-top: 12px;
      }
    }
  }

  .body {
    margin-top: 20px;

    .body-wrapper {
      display: flex;
      justify-content: space-between;
      width: 85%;
      margin-left: auto;
      margin-right: auto;

      .left-aside {
        background-color: #ffa557;
        border-radius: 15px;
        width: 22%;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;

        hr {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }

      .right-content {
        background-color: #ffa557;
        border-radius: 15px;
        width: 75%;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;

        .table-wrapper {
          table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 20px;
            background: inherit;
            // max-width: 70%;
            width: 100%;
            border-collapse: collapse;
            text-align: center;
          }
          th {
            font-weight: normal;
            color: #039;
            border-bottom: 2px solid #6678b1;
            padding: 10px 8px;
          }
          td {
            color: #669;
            padding: 9px 8px;
            transition: 0.3s linear;

            .button-table {
              font-size: 12px;
              margin-right: 5px;

              background-color: inherit;
              border: 0;
              border-bottom: 2px solid #6678b1;
              color: #669;
              outline: 0;

              &:hover {
                border-bottom: 2px solid rgb(255, 255, 255);
              }

              &:active {
                border-bottom: 2px solid rgb(255, 0, 0);
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
          tr:hover td {
            color: #6699ff;
          }
        }
      }
    }
  }
}
