.Profile {
  background-color: #f9f9ff;
  width: 100vw;
  height: 100vh;

  .header {
    height: 60px;
    background-color: #ffa557;

    .header-wrapper {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      .header-left {
        padding-top: 16px;

        span {
          font-size: 22px;
          color: #896e69;
        }
      }

      .header-right {
        padding-top: 12px;
      }
    }
  }

  .body {
    margin-top: 20px;

    .body-wrapper {
      display: flex;
      justify-content: space-between;
      width: 85%;
      margin-left: auto;
      margin-right: auto;

      .left-aside {
        background-color: #ffa557;
        border-radius: 15px;
        width: 22%;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;

        Button {
          margin-top: 10px;

          &:last-child {
            margin-bottom: 10px;
          }
        }

        hr {
          margin-top: 20px;
        }
      }

      .right-content {
        background-color: #ffa557;
        border-radius: 15px;
        width: 75%;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;

        .content-wrapper {
          display: flex;
          justify-content: space-between;
          color: #896e69;
        }
      }
    }
  }
}
